.categoriesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.categoriesContainer .categoriesHeading,
.categoriesContainer .bridalCategories .bridalCategoriesHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.categoriesContainer .main {
  font-size: 30px;
  color: firebrick;
  text-align: center;
  font-weight: 500;
}

.categoriesContainer .sub {
  font-size: 15px;
  text-align: center;
}

.categoriesContainer .categoriesBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  padding-bottom: 20px;
}

.categoriesContainer .categoriesBody .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
}

.categoriesContainer .categoriesBody .part1 img {
  max-width: 100%;
  height: 97%;
}

.categoriesContainer .categoriesBody .part1 img:hover {
  cursor: pointer;
}
.categoriesContainer .categoriesBody .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.categoriesContainer .categoriesBody .part2 img {
  width: 100%;
  max-height: 280px;
}

.categoriesContainer .categoriesBody .slidePart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.categoriesContainer .categoriesBody .slidePart .videoSection {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
}

.categoriesContainer .categoriesBody .slidePart .videoSection button {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border:1px solid #f7c873;
}

.categoriesContainer .categoriesBody .slidePart .videoSection button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background:antiquewhite;
  background: #f7c873;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.categoriesContainer
  .categoriesBody
  .slidePart
  .videoSection
  button:hover::before {
  height: 100%;
}

.categoriesContainer .categoriesBody .slidePart .videoSection span {
  text-wrap: wrap;
  width: 230px;
  text-align: center;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.categoriesContainer .categoriesBody .slidePart .videoSection #originalPrice {
  text-decoration: line-through;
  font-size: 14px;
  text-decoration-color: red;
}

.categoriesContainer .categoriesBody .slidePart .videoSection #discountPrice {
  padding: 6px;
  width: auto;
  text-align: center;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  color: red;
}

.categoriesContainer .categoriesBody .slidePart video {
  width: 230px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .categoriesContainer .categoriesHeading .main {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .categoriesContainer .categoriesHeading .sub {
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .categoriesContainer .categoriesBody .part1 {
    height: 280px;
    width: 100%;
  }

  .categoriesContainer .categoriesBody .part1 img {
    width: 100%;
  }
  .categoriesContainer .categoriesBody {
    flex-direction: column;
  }

  .categoriesContainer .categoriesBody .part2 {
    width: 100%;
  }

  .categoriesContainer .categoriesBody .slidePart {
    width: 100%;
    gap: 20px;
  }
  /* .categoriesContainer .categoriesBody .slidePart .videoSection {
    width: 50%;
    height: 100%;
  } */

  .categoriesContainer .categoriesBody .slidePart {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: flex-start;
  }
}

@keyframes slideIn {
}
