.categoriesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.categoriesContainer .categoriesHeading,
.categoriesContainer .bridalCategories .bridalCategoriesHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 20px;
}

.categoriesContainer .main {
  font-size: 3vw;
  color: firebrick;
}

.categoriesContainer .sub {
  font-size: 1.5vw;
}

.categoriesContainer .categoriesBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  padding-bottom: 20px;
}

.categoriesContainer .categoriesBody .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
}

.categoriesContainer .categoriesBody .part1 img {
  max-width: 100%;
  height: 97%;
}

.categoriesContainer .categoriesBody .part1 img:hover {
  cursor: pointer;
}
.categoriesContainer .categoriesBody .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.categoriesContainer .categoriesBody .part2 img {
  width: 100%;
  max-height: 280px;
}

.categoriesContainer .categoriesBody .slidePart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  border-radius: 25px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.categoriesContainer .categoriesBody .slidePart img {
  width: 17%;
  border-radius: 25px;
  height: 300px;
}

@media screen and (max-width: 700px) {
  .categoriesContainer .categoriesBody .part1 {
    height: 280px;
    width: 100%;
  }

  .categoriesContainer .categoriesBody .part1 img {
    width: 100%;
  }
  .categoriesContainer .categoriesBody {
    flex-direction: column;
  }

  .categoriesContainer .categoriesBody .part2 {
    width: 100%;
  }

  .categoriesContainer .categoriesBody .slidePart {
    width: 80%;
  }

  .categoriesContainer .categoriesBody .slidePart img {
    width: 60%;
  }

  .categoriesContainer .main {
    font-size: 4vw;
    color: firebrick;
  }

  .categoriesContainer .sub {
    font-size: 2vw;
  }
  .categoriesContainer .categoriesBody .slidePart {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: flex-start;
  }
}
