.categoriesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.categoriesContainer .categoriesHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.categoriesContainer .categoriesHeading .main {
  font-size: 30px;
  color: firebrick;
  text-align: center;
  font-weight: 500;
}

.categoriesContainer .categoriesHeading .sub {
  font-size: 15px;
  text-align: center;
}

.categoriesContainer .categoriesBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  gap: 20px;
  padding-bottom: 20px;
}

.categoriesContainer .categoriesBody .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
}

.categoriesContainer .categoriesBody .part1 img {
  max-width: 100%;
  height: 97%;
}

.categoriesContainer .categoriesBody .part1 img:hover {
  cursor: pointer;
}

.categoriesContainer .categoriesBody .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.categoriesContainer .categoriesBody .part2 img {
  width: 100%;
  max-height: 280px;
}

.categoriesContainer .categoriesBody .slidePart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.categoriesContainer .categoriesBody .slidePart .videoSection,
.imageSection {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
  transition: all 0.5s ease-in-out;
  width: 230px;
}

.categoriesContainer .categoriesBody .slidePart .imageSection {
  width: 175px;
  height: 320px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2 / 3;
}

.categoriesContainer .categoriesBody .slidePart .imageSection img {
  width: 100%;
  height: 63%;
}

.categoriesContainer .categoriesBody .slidePart .videoSection button,
.categoriesContainer .categoriesBody .slidePart .imageSection button {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #f7c873;
  margin-top: 12px;
}

.categoriesContainer .categoriesBody .slidePart .videoSection button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: antiquewhite;
  background: #f7c873;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.categoriesContainer
  .categoriesBody
  .slidePart
  .videoSection
  button:hover::before {
  height: 100%;
}

.categoriesContainer .categoriesBody .slidePart .videoSection span,
.categoriesContainer .categoriesBody .slidePart .imageSection span {
  text-wrap: wrap;
  width: 100%;
  text-align: center;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.categoriesContainer .categoriesBody .slidePart .videoSection #originalPrice,
.categoriesContainer .categoriesBody .slidePart .imageSection #originalPrice {
  text-decoration: line-through;
  font-size: 14px;
  text-decoration-color: red;
}

.categoriesContainer .categoriesBody .slidePart .videoSection #discountPrice,
.categoriesContainer .categoriesBody .slidePart .imageSection #discountPrice {
  padding: 6px;
  width: auto;
  text-align: center;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  color: red;
}

.categoriesContainer
  .categoriesBody
  .slidePart
  .videoSection
  #percentageDiscount,
.categoriesContainer
  .categoriesBody
  .slidePart
  .imageSection
  #percentageDiscount {
  background: red;
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  font-weight: 500;
}

.categoriesContainer .categoriesBody .slidePart video {
  width: 230px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.categoriesContainer .mainLayout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #fbe9cb, rgb(255, 255, 255));
  /* border: 2px solid red; */
}
.categoriesContainer .mainLayout .gridLayout {
  display: grid;
  grid-template-areas:
    "i1 i2"
    "i3 i4"
    "i5 i6";
  grid-template-columns: 2fr 2fr;
  padding: 5px;
  margin-bottom: 20px;
  width: 80%;
  margin-top: 40px;
  /* border: 2px solid green; */
}

.categoriesContainer .mainLayout .gridLayout .gridItem {
  height: 300px;
}

.categoriesContainer .mainLayout .gridLayout .gridItem .itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoriesContainer .mainLayout .gridLayout .gridItem .categoryContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
  gap: 4px;
}

.categoriesContainer .mainLayout .gridLayout .gridItem .categoryContent button {
  background: none;
  border: 1px solid rgb(21, 79, 21);
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;

  position: relative; /* IMPORTANT */
  overflow: hidden; /* IMPORTANT */
  z-index: 1; /* Keep text on top */
}

.categoriesContainer .gridLayout .gridItem .categoryContent button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%; /* start from top */
  background: rgb(21, 79, 21);
  z-index: -1; /* behind the text */
  transition: width 0.5s ease-in-out;
}

.categoriesContainer
  .gridLayout
  .gridItem
  .categoryContent
  button:hover::before {
  width: 100%;
}

.categoriesContainer .gridLayout .gridItem .categoryContent button:hover {
  color: #fbe9cb;
  transition: color 0.5s ease-in-out;
}
.categoriesContainer .gridLayout .gridItem .categoryContent button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 500;
}

.categoriesContainer .gridLayout .gridItem .categoryContent .heading {
  font-size: 40px;
  line-height: 46px;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif; */
  font-family: "Cinzel", serif;
}

.categoriesContainer .gridLayout .gridItem .categoryContent .description {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 24px;
}

.categoriesContainer .gridLayout .gridItem .categoryContent span {
  width: 100%;
}

.categoriesContainer .gridLayout .special {
  background: linear-gradient(to top, #fbe9cb, rgb(255, 255, 255));
}

@media screen and (max-width: 700px) {
  .categoriesContainer .categoriesHeading .main {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .categoriesContainer .categoriesHeading .sub {
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .categoriesContainer .categoriesBody .part1 {
    height: 280px;
    width: 100%;
  }

  .categoriesContainer .categoriesBody .part1 img {
    width: 100%;
  }
  .categoriesContainer .categoriesBody {
    flex-direction: column;
  }

  .categoriesContainer .categoriesBody .part2 {
    width: 100%;
  }

  .categoriesContainer .categoriesBody .slidePart {
    width: 100%;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: flex-start;
  }

  .categoriesContainer .categoriesBody .slidePart .imageSection {
    width: 140px;
    height: 300px;
    text-align: left;
  }

  .categoriesContainer .categoriesBody .slidePart .imageSection span {
    font-size: 10px;
    text-align: left;
  }

  .categoriesContainer .categoriesBody .slidePart .imageSection #originalPrice {
    font-size: 12px;
  }

  .categoriesContainer .categoriesBody .slidePart .imageSection #discountPrice {
    font-size: 12px;
    text-align: left;
    padding-left: 0;
  }

  .categoriesContainer
    .categoriesBody
    .slidePart
    .imageSection
    #percentageDiscount {
    background: red;
    color: #fff;
    font-weight: 500;
    font-size: 8px;
    padding: 0;
    text-align: center;
  }

  .categoriesContainer .categoriesBody .slidePart .imageSection #finalPrice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .categoriesContainer .mainLayout .gridLayout {
    width: 100%;
  }

  .categoriesContainer .mainLayout .gridLayout .gridItem {
    height: 230px;
  }

  .categoriesContainer .mainLayout .gridLayout .gridItem .categoryContent {
    padding: 0;
    padding: 6px;
  }

  .categoriesContainer .gridLayout .gridItem .categoryContent .heading {
    font-size: 18px;
    line-height: 22px;
    font-family: "Cinzel", serif;
  }

  .categoriesContainer .gridLayout .gridItem .categoryContent .description {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 20px;
  }

  .categoriesContainer .gridLayout .gridItem .categoryContent span {
    width: 100%;
  }
}
