.categoriesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.categoriesContainer .categoriesHeading,
.categoriesContainer .bridalCategories .bridalCategoriesHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 20px;
}

.categoriesContainer .main {
  font-size: 2.75vw;
  color: firebrick;
}

.categoriesContainer .sub {
  font-size: 1.2vw;
}

.categoriesContainer .categoriesBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 85%;
  /* height: 600px; */
  gap: 20px;
  padding-bottom: 20px;
}

.categoriesContainer .categoriesBody .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
}

.categoriesContainer .categoriesBody .part1 img {
  max-width: 100%;
  height: 97%;
}

.categoriesContainer .categoriesBody .part1 img:hover {
  cursor: pointer;
}
.categoriesContainer .categoriesBody .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 600px;
}

.categoriesContainer .categoriesBody .part2 img {
  width: 100%;
  max-height: 280px;
}

.categoriesContainer .categoriesBody .slidePart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
}

.categoriesContainer .categoriesBody .slidePart img {
  width: 25%;
  border-radius: 12px;
}
