.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.menuContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.menuContainer ul li {
  list-style: none;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1.2px;
}

.menuContainer ul li:hover {
  cursor: pointer;
  color: firebrick;
}

@media screen and (max-width: 1000px) {
  .menuContainer ul li {
    font-size: 1.35vw;
  }
}

@media screen and (max-width: 500px) {
  .menuContainer ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .menuContainer ul li {
    font-size: 3.5vw;
  }
}
