.sliderSection {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.slideImage {
  width: 100%;
  height: 70vh;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slideImage.show {
  opacity: 1;
}
